<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3 class="template-title">Template 1</h3>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row row-spacing">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="content slider">
				<p>Photos Slider</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="content presentation">
				<p>Presentation: <br /> Name:  <br />Brief History</p>
			</div>
		</div>
	</div>

	<div class="row row-spacing">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="content list">
				<p>The List</p>
			</div>
		</div>
	</div>

	<div class="row row-spacing">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="content video">
				<p>Video</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="content map">
				<p>Contact and Map</p>
			</div>
		</div>
	</div>
</div>